@use "../../styles/abstracts";

.form-wrapper {
  // margin: abstracts.$margin;
  width: 100%;
  // @include boxShadow;
  border-radius: abstracts.$borderRadius;
  // @include gradient(abstracts.$neutral);
  // padding: abstracts.$padding;
  color: abstracts.$neutral;

  & h1 {
    margin: 0 0 abstracts.$margin 0;
    font-weight: bold;
    color: abstracts.$primary;
  }
}

form {
  & label {
    display: block;
    padding: abstracts.$padding 0 0 0;

    & span {
      &::after {
        content: ":";
      }
    }
  }

  & input,
  textarea {
    color: abstracts.$secondary;
    font-size: 1rem;
    width: 100%;
    height: 1em;
    border-radius: abstracts.$borderRadius;
    background-color: abstracts.$white;
    padding: abstracts.$padding;
    outline: none;
    // box-shadow: 1px 1px 2px abstracts.$secondary inset;

    &:focus,
    :active {
      // border: 1px solid;
      // box-shadow: 0 0 3px rgba(abstracts.$secondary, 0.5), 1px 1px 2px abstracts.$secondary inset;
    }

    &[type="submit"] {
      border: none;
      height: 3em;
      margin-top: abstracts.$margin;
      // @include abstracts.gradient(abstracts.$primary);
      background-color: abstracts.$primary;
      color: abstracts.$black;
      // text-shadow: 2px 2px 0px darken(abstracts.$neutral, 60);
      // box-shadow: 4px 4px 2px lighten(abstracts.$primary, 20) inset, 4px 4px 2px darken(abstracts.$primary, 20);

      &:hover,
      :focus {
        @include abstracts.gradient(darken(abstracts.$primary, 6));
        cursor: pointer;
      }

      &:active {
        box-shadow: 3px 3px 2px lighten(abstracts.$primary, 20) inset, 3px 3px 2px darken(abstracts.$primary, 20);
      }
    }
  }

  & textarea {
    height: 10rem;
    resize: none;
  }
}

@keyframes autofill {

  0%,
  100% {
    color: abstracts.$secondary;
    background: abstracts.$white;
  }
}

input:-webkit-autofill {
  animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  animation-name: autofill;
  animation-fill-mode: both;
}