@use "../styles/abstracts";

.page-header {
  color: abstracts.$primary;
}

.event-card {
  color: abstracts.$neutral;
  border-bottom: 1px solid abstracts.$neutral;
  margin-bottom: abstracts.$margin;

  a {
    text-decoration: underline;
  }

  iframe {
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

.date {
  display: flex;
  justify-content: space-between;
}

.name {
  color: abstracts.$primary;
}