@use "../styles/abstracts";

.product-list {
  margin: 0;
  padding: 0;
}

.list-item {
  h3 {
    color: abstracts.$primary;
  }

  .artist {
    margin-block-start: abstracts.$margin * -2;
  }



  @media screen and (min-width: 36rem) {
    .image-description-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: abstracts.$padding;
      margin-block-end: abstracts.$margin;
    }

    .description {
      margin-block-start: 0;
    }
  }

  .image-link-container {
    max-width: 500px;

    .image {
      margin-block-end: abstracts.$margin;
      border-radius: abstracts.$borderRadius;
    }

    a {
      display: block;
      border-radius: abstracts.$borderRadius;
      font-weight: 600;
      color: abstracts.$secondary;
      background-color: abstracts.$primary;
      @include abstracts.paddingBox;
      text-align: center;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid abstracts.$neutral;
  }
}