@use "colors";
// devices
$tablet: 768px;
$desktop: 1080px;

/* sizes */
$margin: 1rem;
$padding: 1rem;

// speed
$duration: 0.3s;

//factors
$goldenRatio: 1.618;
$large: 0.618;
$small: 0.382;
$largePercent: 61.8%;
$smallPercent: 38.2%;

$border: 1px solid colors.$secondary;
$borderRadius: 1rem * $small * $small;