@use "../../styles/abstracts";

.message {
  @include abstracts.paddingBox;
  border-radius: abstracts.$borderRadius;
  border: abstracts.$border;
}

.error {
  background-color: abstracts.$errorColor;
  color: abstracts.$text_light;
}

.warning {
  background-color: abstracts.$warningColor;
  color: abstracts.$text_dark;
}

.success {
  background-color: abstracts.$successColor;
  color: abstracts.$text_light;
}