@import "../../styles/base";

.off-canvas-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate3d(100vw, -61.8vh, 0);
  height: 100%;
  width: 100%;
  transition: all $duration ease-in-out;
  background-color: $primary;
  overflow: hidden;
  z-index: -1;
}

.offscreen-nav-wrapper {
  opacity: 0;
  z-index: 1;
  transition: all $duration * 2 ease-in-out;
  background-color: $primary;
}

.open-nav {
  transform: translate3d(0, 0, 0);
  z-index: 1;

  & .offscreen-nav-wrapper {
    opacity: 1;
  }
}
