@import "../../styles/base";

.nav {
  ul {
    padding: 0;
    li {
      text-align: end;
      a {
        @include paddingBox;
        display: block;
        color: $white;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .nav {
    ul {
      display: flex;

      li {
        a {
          color: $neutral;
          padding: 0;
          margin-right: $margin;

          &:hover {
            color: $primary;
          }
          &.active {
            color: $primary;
          }
        }
      }
    }
  }
}
