@use "../../styles/abstracts";

.footer {
  color: abstracts.$neutral;
  padding: abstracts.$padding;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin: 0;
  padding: 0;

  li {
    margin-right: 1rem;
    display: inline-block;

    a {
      color: inherit;

      &:hover {
        color: abstracts.$primary;
      }
    }
  }
}

.attribution {
  margin-top: abstracts.$margin;
  font-size: small;
}

.web-author {
  text-align: center;
}

@media screen and (min-width: abstracts.$tablet) {
  .container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .attribution {
    margin-top: 0;
  }

  .web-author {
    text-align: right;
  }
}