@use "../../styles/abstracts";

.nav {
  ul {
    padding: 0;
    margin: 0;

    li {
      text-align: end;

      a {
        @include abstracts.paddingBox;
        display: block;
        color: abstracts.$secondary;

        &:hover {
          color: abstracts.$secondary;
        }

        &.active {
          color: abstracts.$neutral;
        }
      }
    }
  }
}

@media screen and (min-width: abstracts.$tablet) {
  .nav {
    ul {
      display: flex;

      li {
        a {
          color: abstracts.$neutral;

          &:hover {
            color: abstracts.$primary;
          }

          &.active {
            color: abstracts.$primary;
          }
        }
      }
    }
  }
}

.background-nav {
  display: block;
}